## Processing the Seoul living population dataset

In this notebook, I processed the living population dataset in the seoul open data portal for the data dashboard (index.html). As a result of the notebook, a csv file which contained the average of living populations of each administrative neighborhood (행정동) was created.

In [1]:
import numpy as np
import pandas as pd

In [6]:
import os

In [11]:
dataset_address = os.listdir('data by month')

In [23]:
dataset_dict = {}
for d in dataset_address:
    month = d.replace('.csv','')
    target_ = 'data by month/'+d
    dataset_dict[month] = pd.read_csv(target_)

In [24]:
dataset_dict['april']

           기준일ID  시간대구분     행정동코드      총생활인구수
0       20190401      0  11305555  28875.9280
1       20190401      0  11320511  24890.5138
2       20190401      0  11500550  17481.1666
3       20190401      0  11320513  14025.4840
4       20190401      0  11620775  22753.9044
...          ...    ...       ...         ...
305275  20190430     23  11110540   5226.5199
305276  20190430     23  11710632  29247.5890
305277  20190430     23  11410655   8945.6184
305278  20190430     23  11440565  37325.3465
305279  20190430     23  11740600  50745.3691

[305280 rows x 4 columns]

In [27]:
test_df = dataset_dict['dec']
male = test_df.columns.tolist()[4:18]
female = test_df.columns.tolist()[18:]
male, female

(['남자0세부터9세생활인구수',
  '남자10세부터14세생활인구수',
  '남자15세부터19세생활인구수',
  '남자20세부터24세생활인구수',
  '남자25세부터29세생활인구수',
  '남자30세부터34세생활인구수',
  '남자35세부터39세생활인구수',
  '남자40세부터44세생활인구수',
  '남자45세부터49세생활인구수',
  '남자50세부터54세생활인구수',
  '남자55세부터59세생활인구수',
  '남자60세부터64세생활인구수',
  '남자65세부터69세생활인구수',
  '남자70세이상생활인구수'],
 ['여자0세부터9세생활인구수',
  '여자10세부터14세생활인구수',
  '여자15세부터19세생활인구수',
  '여자20세부터24세생활인구수',
  '여자25세부터29세생활인구수',
  '여자30세부터34세생활인구수',
  '여자35세부터39세생활인구수',
  '여자40세부터44세생활인구수',
  '여자45세부터49세생활인구수',
  '여자50세부터54세생활인구수',
  '여자55세부터59세생활인구수',
  '여자60세부터64세생활인구수',
  '여자65세부터69세생활인구수',
  '여자70세이상생활인구수'])

In [ ]:
def processing_(month_dataset):
    df = df.groupby(['행정동코드', '시간대구분'],as_index=False).mean()
    male = df.columns.tolist()[4:18]
    female = df.columns.tolist()[18:]
    df['male'] = df[male].sum(axis=1)
    df['female'] = df[female].sum(axis=1)

In [8]:
living_pop_2019_12 = living_pop_2019_12.rename(columns={'행정동코드':'adm_code',
                                                        '시간대구분':'time',
                                                        '총생활인구수':'total'})

In [9]:
living_pop_2019_12 = living_pop_2019_12[['adm_code','time','total','male','female']]

In [10]:
living_pop_2019_12_pivot = living_pop_2019_12.pivot(index='adm_code', columns='time',values=['total','male','female'])

In [11]:
living_pop_2019_12_pivot.columns.levels[1]

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23],
           dtype='int64', name='time')

In [12]:
columns = []

for p in living_pop_2019_12_pivot.columns.levels[0]:
    for i in living_pop_2019_12_pivot.columns.levels[1]:
        columns.append(p+'_'+str(i))

In [13]:
living_pop_2019_12_pivot.columns = columns

In [14]:
living_pop_2019_12_pivot['total_avg']=living_pop_2019_12_pivot[living_pop_2019_12_pivot.columns[:24]].mean(axis=1)

In [15]:
living_pop_2019_12_pivot['male_avg']=living_pop_2019_12_pivot[living_pop_2019_12_pivot.columns[24:48]].mean(axis=1)

In [16]:
living_pop_2019_12_pivot['female_avg']=living_pop_2019_12_pivot[living_pop_2019_12_pivot.columns[48:72]].mean(axis=1)

In [17]:
living_pop_2019_12_pivot['gu'] = np.array(living_pop_2019_12_pivot.index)//1000

In [18]:
living_pop_2019_12_pivot

,total_0,total_1,total_2,total_3,total_4,total_5,total_6,total_7,total_8,total_9,...,female_18,female_19,female_20,female_21,female_22,female_23,total_avg,male_avg,female_avg,gu
adm_code,,,,,,,,,,,,,,,,,,,,,
11110515,14939.927744,14970.045570,15001.177515,15016.909244,15103.426444,15157.896015,15571.958467,16797.479615,17824.066233,18101.975685,...,8051.521896,7929.062974,7940.628444,7552.115852,7434.763704,7904.813778,16574.208593,8062.879363,8511.329200,11110
11110530,15325.120793,14847.985841,14533.846019,14441.801296,14588.890659,15328.157126,17218.688237,21341.691159,29321.433663,34140.615711,...,18543.393430,16610.701681,14942.243811,12892.029185,10680.854715,8466.373870,28687.699741,13961.781237,14725.918504,11110
11110540,4778.180711,4782.639963,4799.724515,4829.404830,4891.396752,4964.938563,5117.357507,5678.025507,6313.280907,7168.018722,...,3277.888304,2937.635233,2587.248526,2255.235241,2103.317567,2321.440600,6435.899666,3305.720383,3130.179289,11110
11110550,16285.615593,16390.162126,16481.617281,16514.520170,16562.499467,16660.228926,16713.951281,16767.728533,16471.748111,16145.616137,...,8297.542433,8437.521693,8616.910752,8825.401741,9149.379448,8649.093159,15994.329755,7237.194967,8757.134803,11110
11110560,19588.108233,19648.959959,19654.539900,19702.437200,19765.942881,19902.802607,19994.055967,19658.521304,18991.505352,18368.357933,...,9054.683433,9272.999830,9492.682789,9716.325089,9951.340115,10643.173311,18222.155779,8259.393388,9962.762406,11110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740650,28730.274333,28595.592793,28549.057915,28554.345744,28501.112985,28502.295478,28083.903552,27683.093415,25774.336285,25162.814826,...,14783.721793,14966.950967,14965.562733,14821.781796,14935.159915,15179.292070,27018.610643,12482.839762,14535.770828,11740
11740660,26747.011700,26722.848196,26641.341241,26636.848063,26402.578952,26568.167093,26356.789385,26249.178907,26246.460659,26603.821141,...,14017.115156,14318.150667,14409.448267,14339.139578,14206.635281,13744.696193,26977.385897,13090.959776,13886.426183,11740
11740685,55001.424089,54863.382189,54674.968863,54465.267259,54501.772252,53924.547119,53262.221600,52546.702952,50880.423874,49893.095985,...,27686.036681,28236.078393,28830.927644,29383.909219,29852.895856,29303.804133,52121.411942,24042.914828,28078.497082,11740
11740690,8221.828767,8228.202226,8257.786026,8286.502222,8394.541733,8586.912122,8561.137937,8691.582996,8292.831026,8016.082833,...,3557.571659,3748.406411,3907.261663,4111.302263,4254.321567,4199.778700,7814.762846,3917.069156,3897.693692,11740
11740700,32775.370496,33053.957304,33205.698622,33330.619926,33449.654263,33442.293996,33196.761296,32576.498041,31559.904130,30911.957907,...,14720.373322,14765.449533,14983.202541,15618.618996,16319.344011,17115.910015,30729.201279,14588.201911,16140.999329,11740

In [19]:
coord = pd.read_csv('dong_coord.csv',index_col=0)

In [20]:
coord = coord[['adm_cd2','lat','lng']]

In [21]:
coord.adm_cd2 = coord.adm_cd2//100

In [22]:
living_pop_2019_12_pivot = living_pop_2019_12_pivot.merge(coord,left_index=True, right_on='adm_cd2')

In [23]:
living_pop_2019_12_pivot = living_pop_2019_12_pivot.set_index('adm_cd2')

In [24]:
living_pop_2019_12_pivot.columns

Index(['total_0', 'total_1', 'total_2', 'total_3', 'total_4', 'total_5',
       'total_6', 'total_7', 'total_8', 'total_9', 'total_10', 'total_11',
       'total_12', 'total_13', 'total_14', 'total_15', 'total_16', 'total_17',
       'total_18', 'total_19', 'total_20', 'total_21', 'total_22', 'total_23',
       'male_0', 'male_1', 'male_2', 'male_3', 'male_4', 'male_5', 'male_6',
       'male_7', 'male_8', 'male_9', 'male_10', 'male_11', 'male_12',
       'male_13', 'male_14', 'male_15', 'male_16', 'male_17', 'male_18',
       'male_19', 'male_20', 'male_21', 'male_22', 'male_23', 'female_0',
       'female_1', 'female_2', 'female_3', 'female_4', 'female_5', 'female_6',
       'female_7', 'female_8', 'female_9', 'female_10', 'female_11',
       'female_12', 'female_13', 'female_14', 'female_15', 'female_16',
       'female_17', 'female_18', 'female_19', 'female_20', 'female_21',
       'female_22', 'female_23', 'total_avg', 'male_avg', 'female_avg', 'gu',
       'lat', 'lng'],
      dtype='object')

In [25]:
living_pop_2019_12_pivot

,total_0,total_1,total_2,total_3,total_4,total_5,total_6,total_7,total_8,total_9,...,female_20,female_21,female_22,female_23,total_avg,male_avg,female_avg,gu,lat,lng
adm_cd2,,,,,,,,,,,,,,,,,,,,,
11110515,14939.927744,14970.045570,15001.177515,15016.909244,15103.426444,15157.896015,15571.958467,16797.479615,17824.066233,18101.975685,...,7940.628444,7552.115852,7434.763704,7904.813778,16574.208593,8062.879363,8511.329200,11110,37.584768,126.969029
11110530,15325.120793,14847.985841,14533.846019,14441.801296,14588.890659,15328.157126,17218.688237,21341.691159,29321.433663,34140.615711,...,14942.243811,12892.029185,10680.854715,8466.373870,28687.699741,13961.781237,14725.918504,11110,37.573898,126.969923
11110540,4778.180711,4782.639963,4799.724515,4829.404830,4891.396752,4964.938563,5117.357507,5678.025507,6313.280907,7168.018722,...,2587.248526,2255.235241,2103.317567,2321.440600,6435.899666,3305.720383,3130.179289,11110,37.586045,126.981531
11110550,16285.615593,16390.162126,16481.617281,16514.520170,16562.499467,16660.228926,16713.951281,16767.728533,16471.748111,16145.616137,...,8616.910752,8825.401741,9149.379448,8649.093159,15994.329755,7237.194967,8757.134803,11110,37.595435,126.964300
11110560,19588.108233,19648.959959,19654.539900,19702.437200,19765.942881,19902.802607,19994.055967,19658.521304,18991.505352,18368.357933,...,9492.682789,9716.325089,9951.340115,10643.173311,18222.155779,8259.393388,9962.762406,11110,37.613675,126.968862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740650,28730.274333,28595.592793,28549.057915,28554.345744,28501.112985,28502.295478,28083.903552,27683.093415,25774.336285,25162.814826,...,14965.562733,14821.781796,14935.159915,15179.292070,27018.610643,12482.839762,14535.770828,11740,37.534335,127.127824
11740660,26747.011700,26722.848196,26641.341241,26636.848063,26402.578952,26568.167093,26356.789385,26249.178907,26246.460659,26603.821141,...,14409.448267,14339.139578,14206.635281,13744.696193,26977.385897,13090.959776,13886.426183,11740,37.528406,127.133657
11740685,55001.424089,54863.382189,54674.968863,54465.267259,54501.772252,53924.547119,53262.221600,52546.702952,50880.423874,49893.095985,...,28830.927644,29383.909219,29852.895856,29303.804133,52121.411942,24042.914828,28078.497082,11740,37.539865,127.147347
11740690,8221.828767,8228.202226,8257.786026,8286.502222,8394.541733,8586.912122,8561.137937,8691.582996,8292.831026,8016.082833,...,3907.261663,4111.302263,4254.321567,4199.778700,7814.762846,3917.069156,3897.693692,11740,37.522880,127.140035
11740700,32775.370496,33053.957304,33205.698622,33330.619926,33449.654263,33442.293996,33196.761296,32576.498041,31559.904130,30911.957907,...,14983.202541,15618.618996,16319.344011,17115.910015,30729.201279,14588.201911,16140.999329,11740,37.531794,127.148518

In [28]:
living_pop_2019_12_pivot.to_csv('living_pop_12.csv')

In [92]:
sum_ = living_pop_2019_12_pivot.sum(axis=0)

In [93]:
seoul_total = pd.DataFrame(index=range(0,24),columns=['total','male','female'])

In [94]:
seoul_total['total'] = sum_.iloc[:24].values
seoul_total['male'] = sum_.iloc[24:48].values
seoul_total['female'] = sum_.iloc[48:72].values

In [95]:
seoul_total.loc['avg',:] = seoul_total.mean(axis=0)

In [96]:
seoul_total.to_csv('population_avg.csv')